@import './mixin'

/*
 | Generic styles
 */
table
    // fixes bottom spacing for lists in tables
    ol, ul
        margin-bottom: 0
        padding-left: 20px


/*
 | Core application
 */
.spine
    &.stack
        > *:not(.active)
            display: none

// hacky space between buttons in forms
.btn
    margin-right: 2px
    &:last-child
        margin-right: 0px

/*
 | Special components
 */
#noscript
    margin: 40vh auto 0
    padding: 0 20px
    max-width: 600px
    font-size: 24px
    text-align: center
    img
        max-width: 100%
    p
        margin-top: 30px
