@import './mixin'

/*
 | Generic styles
 */
// more spacing between page titles + content
h1
  margin-bottom: 20px
  .login-pf &,
  .page-header &
    margin-bottom: 10px // dashboard title

// fixes bottom spacing for lists in tables
table
  ol, ul
    margin-bottom: 0
    padding-left: 20px
  &:last-child
    margin-bottom: 20px // ensure doesn't stick at bottom

// hacky space between buttons in forms
.btn
  margin-right: 2px
  &:last-child
    margin-right: 0
  // add new button
  &[data-toggle='modal']
    margin-top: -45px

// decreased spacing between the modal form and the buttons
.modal-footer
  margin-top: -25px

// fixes the administration dropdown positioning
.navbar-pf
  .navbar-utility
    li
      &.dropdown
        > .dropdown-toggle
          .pficon-settings
            @media(max-width: 767px)
              position: absolute
              top: 10px
              left: 20px

// ensure tab content doesn't stick at tab nav
.tab-content
  > .tab-pane
    padding-top: 10px


/*
 | Core application
 */
#spine-app
  &.loading
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
  .spinner
    margin: 47vh auto 0

.spine.stack
  > *
    display: none
    &.active
      display: block


/*
 | Special components
 */
#noscript
  margin: 40vh auto 0
  padding: 0 20px
  max-width: 600px
  font-size: 24px
  text-align: center
  img
    max-width: 100%
    position: relative
    background: #fff
    z-index: 9
  p
    margin-top: 30px

#noty_topRight_layout_container
  > li
    border-radius: 0 !important
