@import './mixin'

#noscript
    margin: 40vh auto 0
    padding: 0 20px
    max-width: 600px
    font-size: 24px
    text-align: center
    img
        max-width: 100%
    p
        margin-top: 30px

.spine
    &.stack
        > *
            display: none
        .active
            display: block
