div.page-header.page-header-bleed-right
  div.actions.pull-right
    a.spine-refresh(href='#')
      span.pficon.pficon-refresh
      | Refresh
  h1 Dashboard
p The dashboard implementation is on the roadmap.
