div.sidebar-header.sidebar-header-bleed-left.sidebar-header-bleed-right
  if messages && messages.length
    div.actions.pull-right
      a.spine-clear-messages(href='#') Clear Messages
  h2.h5 Latest Messages
if messages && messages.length
  ul.list-group.items
    each message in _.sortBy(messages, 'date')
      li.list-group-item
        h3.list-group-item-heading
          a(href='/#/messages/' + message.id) #{message.title}
        p.list-group-item-text #{message.body}
        p
          small #{message.created_at}
  p
    a(href='/#/messages') See all messages
else
  p No messages to display.
