script(charset='utf-8').
  $(function () {
    //- see: https://github.com/patternfly/patternfly/blob/6d945e0a177e37d4d73e0960af00719c177385c2/tests-src/datatables-columns.html
    $('.datatable').dataTable({
      dom: 'R<"dataTables_header"fCi>t<"dataTables_footer"p>',
      colVis: {
        buttonText: '<i class="fa fa-columns"></i>',
        sAlign: 'right'
      }
    });
    
    $('.ColVis_Button').addClass('btn btn-default dropdown-toggle').click(function () {
      $(this).parent('.ColVis').addClass('btn-group open');
      $('.ColVis_collection label').addClass('checkbox');
      $('.ColVis_collectionBackground, .ColVis_catcher').click(function () {
        $('.ColVis').removeClass('open');
      });
    });
  });
