button.btn.btn-primary.spine-save(type='submit') Save
button.btn.btn-default.spine-cancel(type='button') Cancel
button.btn.btn-danger.spine-destroy(type='button', data-toggle='confirmation') Delete
script(charset='utf-8').
  $(function () {
    $('[data-toggle=confirmation]').confirmation();
  });
