nav.navbar.navbar-default.navbar-pf(role='navigation')
  div.navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse-21')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    //- TODO: fix navbar height (utility nav)
    a.navbar-brand(href='/#/') BinaryMngr 
      small v0.0.1
  div.collapse.navbar-collapse.navbar-collapse-21
    //- utility navigation
    ul.nav.navbar-nav.navbar-utility
      li.dropdown
        a(href='#', data-toggle='dropdown')
          span.pficon.pficon-info
          |  Messages: 
          strong 2
        div.dropdown-menu.infotip.bottom-right
          div.arrow
          ul.list-group
            li.list-group-item
              span.i.pficon.pficon-info
              | Added Datasources Tests
          div.footer
            a(href='') Clear Messages
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          span.pficon.pficon-user
          | Account
          b.caret
        //- utility dropdown
        ul.dropdown-menu
          //- li
          //-   a(href='/#/user/settings') Settings
          //- li.divider
          li.dropdown-submenu
            a(href='#', tabindex='-1') Administration
            ul.dropdown-menu
              li
                a(href='/#/administration/roles') Roles
              li
                a(href='/#/administration/users') Users
          li.divider
          li
            a(href='/auth/logout') Logout
    //- primary navigation
    ul.nav.navbar-nav.navbar-primary
      li.active
        a.active(href='/#/') Dashboard
      li
        a(href='/#/binaries') Binaries
      li
        a(href='/#/servers') Servers
