nav.navbar.navbar-default.navbar-pf(role='navigation')
  div.navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse-21')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/#/')
      img(src='/img/brand.png', alt='BinaryMngr Logo')
  div.collapse.navbar-collapse.navbar-collapse-21
    //- utility navigation
    ul.nav.navbar-nav.navbar-utility
      if messages && messages.length
        li.dropdown
          a(href='#', data-toggle='dropdown')
            span.pficon.pficon-info
            |  Messages: 
            strong #{messages.length}
          div.dropdown-menu.infotip.bottom-right
            div.arrow
            ul.list-group
              each message in _.sortBy(messages, 'date')
                li.list-group-item
                  a(href='/#/messages' + message.id)
                    span.i.pficon.pficon-info
                    |  #{message.title}
            div.footer
              a(href='') Clear Messages
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          span.pficon.pficon-user
          | Account
          b.caret
        //- utility dropdown
        ul.dropdown-menu
          if rqst.user.is_admin
            li.dropdown-submenu
              a(href='#', tabindex='-1') Administration
              ul.dropdown-menu
                li
                  a(href='/#/administration/roles') Roles
                li
                  a(href='/#/administration/users') Users
          else
            li
              a(href='/#/user/profile') Profile
          li.divider
          li
            a(href='/auth/logout') Logout
    //- primary navigation
    ul.nav.navbar-nav.navbar-primary
      li.active
        a.active(href='/#/') Dashboard
      li
        a(href='/#/binaries') Binaries
      li
        a(href='/#/servers') Servers
