div.nav-category
  h2 Sections
  ul.nav.nav-pills.nav-stacked.items
    if rqst.user.is_admin
      li
        a(href='/#/administration/roles') Roles
    li
      a(href='/#/administration/users') Users
