ol.breadcrumb
  li
    a(href='/#/') Home
  li Administration
  li Users
button.btn.btn-primary.pull-right(type='button', data-toggle='modal' data-target='#add-user-modal') Add New
include modal-add-user.jade
h1 Users
if users && users.length
  table.datatable.table.table-striped.table-bordered
    thead
      tr
        th Email
    tbody.items
      each user in _.sortBy(users, 'email')
        tr
          td
            a(href='mailto:' + user.email) #{user.email}
  br
  include ../includes/datatables-js.jade
else
  div.alert.alert-info
    span.pficon.pficon-info
    strong No users to display.
