div#add-user-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='add-user-model-label', aria-hidden='true')
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
          span.pficon.pficon-close
        h4#add-user-modal-label.modal-title Add User
      form.form-horizontal.item(action='#')
        div.modal-body
            div.form-group
              label.col-md-3.control-label(for='email') Email
              div.col-md-9
                input.form-control(type='email', name='email', required)
            div.form-group
              label.col-md-3.control-label(for='password') Password
              div.col-md-9
                input.form-control(type='password', name='password', required)
        div.modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary.can-save(type='submit') Save
