if item
  div.modal-body
    div.form-group
      label.col-md-3.control-label(for='binary_id') Binary
      div.col-md-9
        select.form-control.selectpicker.show-menu-arrow.show-tick(name='binary_id')
          each binary in binaries
            option(value=binary.id) #{binary.name}
        include ../../shared/helpers
        +selectpicker('.selectpicker')
    div.form-group
      label.col-md-3.control-label(for='identifier') Identifier
      div.col-md-9
        input.form-control(type='text', name='identifier', value=item.identifier, placeholder='0.1.0', required)
    div.form-group
      label.col-md-3.control-label(for='note') Note
      div.col-md-9
        textarea.form-control(name='note', rows='5', placeholder='Fixes issue #190.') #{item.description}
    div.form-group
      label.col-md-3.control-label(for='eol') EOL
      div.col-md-9
        input.form-control(type='date', name='eol', placeholder='2015-12-31', pattern='\\d{4}-\\d{2}-\\d{2}')
  div.modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
    button.btn.btn-primary.spine-submit(type='submit') Save
