if item
  div.modal-body
    div.form-group
      label.col-md-3.control-label(for='name') Name
      div.col-md-9
        input.form-control(type='text', name='name', value=item.name, placeholder='binarymngr', required)
    div.form-group
      label.col-md-3.control-label(for='description') Description
      div.col-md-9
        textarea.form-control(name='description', rows='5', placeholder='A web app to manage self-compiled binaries.') #{item.description}
    div.form-group
      label.col-md-3.control-label(for='homepage') Homepage
      div.col-md-9
        input.form-control(type='url', name='homepage', value=item.homepage, placeholder='http://binarymngr.io')
  div.modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
    button.btn.btn-primary.spine-submit(type='submit') Save
