div#add-category-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='add-category-model-label', aria-hidden='true')
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
          span.pficon.pficon-close
        h4#add-category-modal-label.modal-title Add Category
      div.modal-body
        form.form-horizontal
          input(type='hidden', name='user_id', value='')
          div.form-group
            label.col-md-3.control-label(for='name') Name
            div.col-md-9
              input#name.form-control(type='text', name='name', required)
          div.form-group
            label.col-md-3.control-label(for='description') Description
            div.col-md-9
              input#description.form-control(type='text', name='description')
      div.modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary(type='button') Save
