div.nav-category
  h2
    a(href='/#/binaries/categories') Categories
  if categories && categories.length
    ul.nav.nav-pills.nav-stacked
      each category in _.sortBy(categories, 'name')
        li
          a(href='/#/binaries/categories/' + category.id) #{category.name}
  else
    p No categories yet.
