//- TODO: own controller for add new
ol.breadcrumb
  li
    a(href='/#/') Home
  li
    a(href='/#/binaries') Binaries
  li Versions
button.btn.btn-primary.pull-right(type='button', data-toggle='modal' data-target='#add-version-modal') Add New
//- include modal-add-version.jade
h1 Versions
if versions && versions.length
  table.datatable.table.table-striped.table-bordered
    thead
      tr
        th Identifier
        th Note
        th EOF
    tbody.items
      each version in _.sortBy(versions, 'identifier')
        tr
          td
            a(href='/#/binaries/versions/' + version.id) #{version.identifier}
          td
            if version.note
              | #{version.note}
            else
              | -
          td
            if version.eol
              | #{version.eol}
            else
              | -
  br
  include ../includes/datatables-js.jade
else
  div.alert.alert-info
    span.pficon.pficon-info
    strong No versions to display.
