div.container-fluid
  div.row
    //- main content
    div.col-sm-8.col-md-9
      div.page-header.page-header-bleed-right
        div.actions.pull-right
          a(href='')
            span.pficon.pficon-refresh
            | Refresh
        h1 Dashboard
      //- main area
      p Nothing to show.
    //- sidebar
    div.col-sm-4.col-md-3.sidebar-pf.sidebar-pf-right
      div.sidebar-header.sidebar-header-bleed-left.sidebar-header-bleed-right
        if messages && messages.length
          div.actions.pull-right
            a(href='') Clear Messages
        h2.h5 Latest Messages
      if messages && messages.length
        each message in _.sortBy(messages, 'date')
          li.list-group-item
            h3.list-group-item-heading #{message.heading}
            p.list-group-item-text #{message.text}
      p
        a(href='/#/messages') See all messages
