div.container-fluid
  div.row
    div.col-xs-12
      h1 Servers
      if servers && servers.length
        ul.items
          each server in servers
            li #{server.name} - #{server.ipv4}
      else
        div.alert.alert-info
          span.pficon.pficon-info
          | No servers to display. 
